.projects {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 15vh;
  width: 80vw;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.projectCard {
  align-items: center;
  background-color: var(--color-gray-800);
  border: 2px solid var(--color-gray-700);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .tags span {
    background-color: var(--color-gray-700);
    border-radius: 4px;
    color: var(--color-gray-300);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .linkContainer {
    align-items: center;
    color: var(--color-blue-400);
    cursor: pointer;
    display: flex;
    font-weight: 600;
    gap: 0.5rem;
  }

  @media (max-width: 767px) {
    .projects {
      margin-top: 10vh;
      width: 90vw;
    }

    .projects h1 {
      align-items: flex-start;
      flex-direction: column;
      gap: 0.4rem;
      justify-content: flex-start;
    }
  }
}
